
body,html{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 500px;
    margin: 0px;
 
}
div.header {
    display: flex;
    align-items: center;
    background: blue;
    margin: 0px;
    text-align: center;
    border: 3px solid black;
}

h1{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50%;
}

.button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50%;
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 10px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

div.main_container {
    flex-direction:row;
    justify-content: space-between;
    display: flex;
    background-color:blue;
    margin: 0px;
    flex: 1;
}
div.main_container .table,.right_side{
    flex:1;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid black;
}
div.main_container .table{
background: white;
flex: .05 .5 auto;
}
div.footer{
justify-content:center;
align-items: center;
display: flex;
border: 4px solid black;
padding: 10px;
flex-shrink: 1;
border: solid black;
text-align: center;
}